<div class="bg d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow-lg p-4">
    <div class="text-center mb-3">
      <h2 class="fw-bold text-primary">Admin Sign Up</h2>
    </div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" required />
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" formControlName="email" required />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" required />
      </div>

      <div class="form-group">
        <label for="checkPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="checkPassword"
          formControlName="checkPassword"
          required
        />
        <div *ngIf="signupForm.errors?.mismatch && signupForm.get('checkPassword')?.touched" class="text-danger">
          Passwords do not match.
        </div>
      </div>

      <div class="form-group">
        <label for="profilePhoto">Profile Photo</label>
        <input type="file" class="form-control" id="profilePhoto" #fileInput accept="image/*" />
      </div>

      <button type="submit" class="btn btn-primary mt-3" [disabled]="signupForm.invalid">Register</button>
    </form>
  </div>
</div>
